/* Site Colors
($color / $dark_color / $light_color)
*/

$text_color: #444444;

$light_blue: #5656e2;
$blue: #3030cc;
$dark_blue: #0d0de9;

// ===================================

// Fonts/Type
$font_base_family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font_base_size: 16px;

// Other Vars
$border_radius: 3px;
