* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: $font_base_size;
}
body {
    font-family: $font_base_family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: $blue;
    border-bottom: 1px solid $dark_blue;
    &:hover {
        color: $dark_blue;
        border-bottom: 1px solid $dark_blue;
    }
}

ul {
    list-style-type: none;
}
